<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
 
     <main>
         <% if (errorMessage) { %>
             <div class="user-message user-message--error"><%= errorMessage %></div>
         <% } %>
         <div class="wrapper fadeInDown">
             <div class="formContent">
                <form class="login-form" action="/login" method="POST">
                    <div class="fadeIn second">
                        <label for="email">E-Mail</label>
                        <input 
                            class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                            type="email" 
                            name="email" 
                            id="email" 
                            value="<%= oldInput.email %>">
                    </div>
                    <div class="fadeIn third">
                        <label for="password">Password</label>
                        <input 
                            class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                            type="password" 
                            name="password" 
                            id="password" 
                            value="<%= oldInput.password %>">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn" type="submit" id="btnLogin">Login</button>
                </form>
            </div>
        </div>
         <div class="centered">
             <a href="/reset">Reset Password</a>
         </div>
     </main>
 <%- include('../includes/end.ejs') %>