<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (todoItems.length> 0){ %>
                    <div class="grid">
                        <ul class="cart__item-list">
                            <% for(let item of todoItems) { %>



                                <li class="cart__item">
                                    <h1 id="title">
                                        <%= item.title %>
                                    </h1>
                                    <h2 id="type">
                                        <%= item.type %>
                                    </h2>
                                    <h3 id="duedate">Due Date:
                                        <%= moment(item.dueDate).format('ll');%>
                                    </h3>
                                    <p id="desc">
                                        <%= item.description %>
                                    </p>
                                    <form action="/admin/delete-item" method="POST" id="btnDel">
                                        <input type="hidden" value="<%= item._id %>" name="todoId">
                                        <button class="btn danger btn-sm" type="submit">Delete</button>
                                    </form>
                                    <a href="/admin/edit-todo/<%= item._id %>?edit=true" class="btn info btn-sm">Edit</a>
                                    <% if(!item.status) { %>

                                        <form action="/admin/complete-item" method="POST">
                                            <input type="hidden" value="<%= item._id %>" name="todoId">
                                            <input type="hidden" value="<%= item.status %>" name="status">
                                            <button class="btn success btn-sm" type="submit" id="btnComp">Completed</button>
                                        </form>
                                        <% } %>
                                </li>


                                <% } %>
                        </ul>
                    </div>
                    <% }else{ %>
                        <h1>Not items Found</h1>
                        <% }%>
            </main>

            <%- include('../includes/end.ejs') %>