
<header class="main-header">
    
    <nav class="main-header__nav">
                 <ul class="main-header__item-list">
                   <li class="main-header__item">
                        <a class="<%= path === '/' ? 'active' : '' %> "  href="/">Home</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/admin/todos' ? 'active' : '' %>" href="/admin/todos">List</a>
                    </li>
                                        
                
                </ul>
                <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


 <nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/todos' ? 'active' : '' %>" href="/admin/todos">List</a>
            </li>           
        </ul>
</nav> 